<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FJ2FLEBD6M"></script>
  <script>
        window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-FJ2FLEBD6M');
    </script>

  <title>Manava Bharati International School - Take admission, admission enquiry</title>
  <meta charset="utf-8">
  <meta name="description" content="Manava Bharati International School Take admisson" />
  <meta name="keywords" content="Manava Bharati International School Patna, Best CBSE school in Patna, MBIS Patna, Best 10 schools in Patna," />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/css/onlineEnquiry/online_enquiry.css" rel="stylesheet" />
  <link href="/css/jquery-ui.css" rel="stylesheet" />

  <script src="../../js/core/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="../../js/core/moment-with-locales.js" type="text/javascript"></script>
  <script src="../../js/bootstrap-switch.min.js"></script>
  <script src="../../js/core/spt.all.js" type="text/javascript"></script>
  <script src="/js/spt.json.js"></script>
  <script src="/js/core/jquery-ui.1.11.4.full.min.js"></script>
  <script src="../../js/siteloader/siteLoader.min.js" type="text/javascript"></script>
  <script src="../../js/toastr/toastr.min.js" type="text/javascript"></script>
  <link href="/css/toastr/toastr.css" rel="stylesheet" />
  <script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


  <style>
        #schedule .nav.nav-tabs {
            margin: 0;
        }

        .mt-15 {
            margin-top: 15px;
        }

        .nav-tabs .active a {
            background-color: #0fcab2 !important;
        }
    </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
<script type="text/javascript">
        function preventBack() { window.history.forward(); }

        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
<!-- Wrapper for slides -->
<div class="innerBanner">
  <img src="/SCHOOLDATA/mbis/infrastructure.jpg" alt="" style="margin: 0 auto" class="topImage">
  <div class="innerBannerContent">
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
          <img src="/SCHOOLDATA/mbis/schoollogo.png" alt=" " style="height:70px; width:80px" />
        </div>
        <div class="col-sm-8">
          <h3 class="mt0">Manava Bharati International School</h3>
          <h5 class="mt0"></h5>
          <p>
            <i class="fas fa-map-marker-alt"></i>&nbsp; Near AIIMS Patna, NH-98, Nawada More, Gosai Math,
            City - Patna. (Bihar) <br />
            <i class="fas fa-globe"></i> <a href="https://mbispatna.org" target="_blank" style="color:white;">&nbsp;https://mbispatna.org&nbsp;&nbsp;</a>
            <i class="fas fa-phone"></i>&nbsp; 7903312446&nbsp;&nbsp;
            <i class="fas fa-envelope"></i>&nbsp; admin@mbispatna.org&nbsp;&nbsp;
          </p>
          <button class="btn btn-primary">Central Board of Secondary Education(CBSE)</button>
          <button class="btn btn-default">Central Board of Secondary Education(CBSE)</button>
        </div>

      </div>
    </div>
  </div>
</div>
<input type="hidden" name="SchoolCode" id="SchoolCode" value="mbis">
<input type="hidden" id="admissionStatus" name="admissionStatus" value="False" />
<input type="hidden" id="hdnSchoolName" name="hdnSchoolName" value="Manava Bharati International School" />
<input type="hidden" id="hdnCity" name="hdnCity" value="Patna" />
<section class="section-with-bg" id="schedule">
  <div class="container">
    <ul class="nav nav-tabs">
      <li id="abouttab"><a href="/school/socialshare?key=mbis&tab=about">About</a></li>
      <li id="eligibilitycriteriatab"><a href="/school/socialshare?key=mbis&tab=eligibilitycriteria">Eligibility Criteria</a></li>

      <li id="registrationtab"><a href="/menues/registration" >Registration</a></li>

      <li id="admissionenquirytab"><a href="">Admission Enquiry</a></li>

    </ul>
    <div class="contentStart mt-15">


      <div class="contentStart">
        <div class="contentStart arrow mt-30">
          <h2>&nbsp; &nbsp;&nbsp; Admission Details</h2>
          <p><span style="font-size:14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;When considering all applicants, we take into account both the suitability of our educational programme for the prospective student and the availability of places within the school.</span></p>

          <p><span style="font-size:14px">The earliest acceptance of application material is three months prior to planned attendance and/or January of that particular year.</span></p>

          <p><span style="font-size:14px">In recognition of our mission as an International School, it is possible that, as class sizes approach the maximum, remaining places may be reserved for expatriate international students.</span></p>

        </div>
        <div class="contentStart arrow ">
          <h2>&nbsp; &nbsp;&nbsp; Our Vision</h2>
          <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:16px"><strong>MBIS</strong></span> is Child Centric-&lsquo;Children Matter Most&rsquo; -not only as recipients but as &lsquo;<strong>partners and contributors of knowledge production, insights, innovations and perspectives</strong>&rsquo;! </span></span></p>

          <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">There is much to be learnt from them rather than teaching and instructing them all the time with an adult supremacy. We do not encourage the use of adult frame and highhandedness in dealing with them and their affairs. The schools, therefore, must offer an environment where they have the freedom to express, evolve and experiment. They have to be treated as equals and not subservient. For us the school education offers foundation for life and therefore, it must excite, encourage and prepare the children for meaningful pursuits according to their orientation and choice. MBIS&rsquo;s vision resonates the above. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></p>

          <br>
        </div>
        <div class="contentStart arrow ">
          <h2>&nbsp; &nbsp;&nbsp; Our Mission</h2>

          <br>
        </div>
        <div class="contentStart arrow ">
          <h2>&nbsp; &nbsp;&nbsp; Supporting document required with application</h2>
          <p><h4>&nbsp;</h4>

          <h4><span style="font-size:16px"><strong>The admission procedure is simple and straightforward. Kindly follow the steps below :</strong></span></h4>

          <p>1. The Registration form should be filled online or submit&nbsp;&nbsp;to the School Office between 9 AM to 2 PM, Monday to Saturday.</p>

          <p>2. An incomplete or illegible Application Form, without a photograph and other documents, will not be accepted.</p>

          <p>3. List of the documents to be attached: -</p>

          <ul>
            <li>&nbsp;Birth Certificate copy .(original for verification at the time of admission)</li>
            <li>&nbsp;Transfer Certificate Copy</li>
            <li>&nbsp;5 Passport Size Photographs of child.</li>
            <li>&nbsp;2 Passport Size Photographs of each parent.</li>
            <li>&nbsp;1 group photograph with child.</li>
            <li>&nbsp;ID &amp; Address proof copy of parents.</li>
            <li>&nbsp;Aadhar card copy of Parent and child.</li>
            <li>&nbsp;Previous year report card copy. (For Class II onwards).</li>
            <li>&nbsp;Parent&rsquo;s Transfer Certificate (For mid-session admission)</li>
            <li>&nbsp;Vaccination Card copy (Upto Grade- II).</li>
            <li>&nbsp;Blood Group report.</li>
          </ul>

          <h4><u><span style="font-size:14px"><strong>Note: -&nbsp;Original documents are required to be brought for verification at the time of admission.</strong></span></u></h4>

          <p>Parents are requested to fill in the Application Form on line here or&nbsp;downloaded from our school website.</p>
          </p>
          <br>
        </div>
        <div class="contentStart arrow ">
          <h2>&nbsp; &nbsp;&nbsp; Established In</h2>
          <p>2016</p>
          <br>
        </div>
        <div class="contentStart arrow ">
          <h2>&nbsp; &nbsp;&nbsp;Management: </h2>

          <p>Principal- Anupam Mishra<br /><br />Director- N/A</p>

          <br>
        </div>
        <div class="contentStart arrow ">
          <h2>&nbsp; &nbsp;&nbsp; Medium-of-Education</h2>
          <p>English</p>
          <br>
        </div>
        <div class="contentStart arrow ">
          <h2>&nbsp; &nbsp;&nbsp; School Timing</h2>
          <p>&nbsp;</p>

          <p><span style="color:#ff0099"><u><span style="font-size:14px"><strong>SUMMER</strong></span></u></span></p>

          <p>Junior Wing&nbsp;(Pre - NUR to UKG) :-&nbsp; 10 : 00 AM to 2 : 00 PM</p>

          <p>Senior Wing&nbsp;( Class I to XII )&nbsp; :-&nbsp; 08 : 00 AM to 2: 00 PM</p>

          <p><span style="color:#ff0099"><u><strong><span style="font-size:14px">WINTER</span></strong></u></span></p>

          <p>Junior Wing (Pre - NUR to UKG) :-&nbsp; 10 : 00 AM to 2 : 00 PM</p>

          <p>Senior Wing ( Class I to XII )&nbsp;:-&nbsp; 08 : 00 AM to 2: 00 PM</p>

          <p>&nbsp;</p>


          <br>
        </div>

      </div>


    </div>
  </div>
</section>

<footer class="text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="footer-right text-center">
          <a href="https://www.scientificstudy.in/" target="_blank" style="color:white;">scientificstudy.in</a>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
<script type="text/javascript">
    ;
</script>
<script async src="https://platform-api.sharethis.com/js/sharethis.js#property=5e84699483557b00194a23ce&product=sticky-share-buttons"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-62533432-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-62533432-2');
</script>
<script>
    $(document).ready(function () {
        let searchParams = new URLSearchParams(window.location.search)
        let param = searchParams.get('tab')

        if (param == null) {
            $('.nav-tabs li').removeClass('active');
            $('#abouttab').addClass('active');

        } else {
            $('.nav-tabs li').removeClass('active');

            $('#' + param + 'tab').addClass('active');
        }

    });
</script>


